<div>
    <span class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group" *ngFor="let type of types" >
            <button id='button-{{type.value}}' type="button" class="btn btn-default" [class.btn-primary]="type.value===value" (click)="select(type.value)">
                <span *ngIf="type.value===value" class="glyphicon glyphicon-check" ></span>
                {{type.name}}
            </button>
        </div>
    </span>
</div>
