<h3>Registration</h3>
<p>
    Welcome at MEMS. Before you can charge your phone, you need to register yourself.
    Please fill out the form below.
</p>

<div class="container-fluid">
    <form #registrationForm="ngForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group" [class.has-error]="!phoneNumber.pristine && phoneNumber.invalid">
                    <label class="control-label">Phone number</label>
                    <input name="inputPhoneNumber" type="text" class="form-control" placeholder="Phone number" unused-phone-number [(ngModel)]="model.phoneNumber" pattern="[0-9]{6,14}" #phoneNumber="ngModel">
                    <small class="help-block" *ngIf="!phoneNumber.pristine && phoneNumber.invalid">
                        <span *ngIf="phoneNumber.errors.pattern">Please enter a valid phonenumber (6...14 digits).</span>
                        <span *ngIf="phoneNumber.errors.usedPhoneNumber">Please use a phone number that is not already registered.</span>
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group" [class.has-error]="!firstName.pristine && firstName.invalid">
                    <label class="control-label">First name</label>
                    <input name="firstName" type="text" class="form-control" placeholder="First name" [(ngModel)]="model.firstName" required minlength="3" #firstName="ngModel">
                    <small class="help-block" *ngIf="!firstName.pristine && firstName.invalid">
                        Please enter a first name (3 characters required).
                    </small>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" [class.has-error]="!lastName.pristine && lastName.invalid">
                    <label class="control-label">Last name</label>
                    <input name="lastName" type="text" class="form-control" placeholder="Last name" [(ngModel)]="model.lastName" required minlength="3"  #lastName="ngModel">
                    <small class="help-block" *ngIf="!lastName.pristine && lastName.invalid">
                        Please enter a last name (3 characters required).
                    </small>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group" [class.has-error]="!pin.pristine && pin.invalid">
                    <label class="control-label">PIN</label>
                    <input name="inputPIN" type="password" class="form-control" placeholder="PIN" [(ngModel)]="model.pin" required pattern="[0-9]{4,6}" #pin="ngModel">
                    <small class="help-block" *ngIf="!pin.pristine && pin.invalid">
                        Please enter a PIN consisting of 4 to 6 digits.
                    </small>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" [class.has-error]="!pinConfirmation.pristine && pinConfirmation.invalid">
                    <label class="control-label">PIN confirmation</label>
                    <input name="inputPINConfirmation" type="password" class="form-control" placeholder="PIN (Confirmation)" validate-equal [target]="pin.value" [(ngModel)]="model.pinConfirmation" #pinConfirmation="ngModel">
                    <small class="help-block" *ngIf="!pinConfirmation.pristine && pinConfirmation.invalid">
                        The PIN confirmation differs from the PIN.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label>Credit Card Type</label>
                    <credit-card-type-input name="creditCardType" [(ngModel)]="model.creditCardType"></credit-card-type-input>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group" [class.has-error]="!creditCardNumber.pristine && creditCardNumber.invalid">
                    <label class="control-label">Credit Card Number</label>
                    <input name="creditCardNumber" type="text" class="form-control" placeholder="Credit Card Number" [(ngModel)]="model.creditCardNumber" #creditCardNumber="ngModel" valid-credit-card-number>
                    <small class="help-block" *ngIf="!creditCardNumber.pristine && creditCardNumber.invalid">
                        <span *ngIf="creditCardNumber.errors.patternMismatch">Please enter a valid credit card number in the format 1111-2222-3333-4444.</span>
                        <span *ngIf="creditCardNumber.errors.invalidChecksum">Please check the entered credit card number, as its checksum is invalid.</span>
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <button type="submit" class="btn btn-success" [disabled]="!registrationForm.form.valid">Submit</button>
            </div>
        </div>

    </form>
</div>
